<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="org.chai.domain.User" alias="User"/>
		<!-- <typeAlias type="org.chai.domain.Board" alias="Board"/> -->
		<typeAlias type="org.chai.domain.UserLoginLog" alias="UserLoginLog"/>
		<!-- <typeAlias type="org.chai.domain.Post" alias="Post"/>
		<typeAlias type="org.chai.domain.Repley" alias="Reply"/> -->
	</typeAliases>
</configuration>